<p id="notice"><%= notice %></p>

<h1>お気に入りのお店</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>場所</th>
      <th>評価</th>
      <th>メモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
    <tr>
      <td><%= shop.name %></td>
      <td><%= shop.address %></td>
      <td><%= shop.rate %></td>
      <td><%= shop.memo %></td>
      <td><%= link_to 'Show', shop %></td>
      <% if user_signed_in? && shop.user_id == current_user.id then %>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  </table>

  <br>

  <%= link_to 'New shop', new_shop_path %>
  <%= link_to 'My Page', mypage_path %>