<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>場所:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>評価:</strong>
  <% case @shop.rate 
      when 1 %>
  ★☆☆☆☆
  <% when 2 %>
  ★★☆☆☆
  <% when 3 %>
  ★★★☆☆
  <% when 4 %>
  ★★★★☆
  <% when 5 %>
  ★★★★★
  <% end %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @shop.memo %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>